In [3]:
bos_listem = list()

type(bos_listem)

list

In [2]:
bos_listem = []

bos_listem

[]

In [4]:
text = 'clarusway'

text_listem = list(text)
text_listem

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [3]:
numbers = [1, 2, 3]

# append() listenin sonuna eleman ekler
#  
print(numbers)
numbers.append(4)
numbers

[1, 2, 3]

[1, 2, 3, 4]

In [4]:
numbers.append('9')
numbers

[1, 2, 3, 4, '9']

In [6]:
sayilar = [1, 2, 3]

sayilar + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [7]:
# insert() elemanı istediğimiz index e ekler. insert(index, element)

city = ['Ankara', 'Istanbul', 'Paris', 'London']

city.insert(1, 'Bursa')
city

['Ankara', 'Bursa', 'Istanbul', 'Paris', 'London']

In [ ]:
# pop() argument index (pop methodu sildiği elemanı return eder)
# remove() argument olarsk elemanın kendisi

In [13]:
city = ['Ankara', 'Bursa', 'Istanbul', 'Paris', 'London']

city

['Ankara', 'Bursa', 'Istanbul', 'Paris', 'London']

In [14]:
city.pop(1)

'Bursa'

In [15]:
city

['Ankara', 'Istanbul', 'Paris', 'London']

In [16]:
sehir = city.pop(0)
sehir

'Ankara'

In [17]:
city

['Istanbul', 'Paris', 'London']

In [19]:
city.remove('London')
city

['Istanbul', 'Paris']

In [21]:
listem = [1, 2, 'Ali', 'Istanbul', 'London', 5]

listem.pop()

5

In [22]:
listem.pop()

'London'

In [23]:
listem

[1, 2, 'Ali', 'Istanbul']

In [24]:
del listem[2]
listem

[1, 2, 'Istanbul']

In [26]:
numbers = [2, 1, 13, 12, 8, 4, 20, 5]

# sort() listeyi sıralar. orjinal liste değişir 
numbers.sort()
numbers

[1, 2, 4, 5, 8, 12, 13, 20]

In [27]:
numbers = [2, 1, 13, 17, 8, 6, 20, 5]

# sort() listeyi tersten sıralamak için keyword argument olarak reverse = True girilir (default hali reverse = False)

numbers.sort(reverse = True)

numbers

[20, 17, 13, 8, 6, 5, 2, 1]

In [28]:
numbers = [2, 1, 13, 12, 8, 4, 20, 5]

# sorted() içine argument olarak liste gönderilir.listeyi sıralar fakat orjinalini değiştirmez(liste methodu değildir)
print(sorted(numbers))
numbers

[1, 2, 4, 5, 8, 12, 13, 20]

[2, 1, 13, 12, 8, 4, 20, 5]

In [29]:
sorted(numbers, reverse=True)

[20, 13, 12, 8, 5, 4, 2, 1]

In [30]:
numbers_reverse = sorted(numbers,reverse=True)
numbers_reverse

[20, 13, 12, 8, 5, 4, 2, 1]

In [31]:
isimler = ["ali", "zeynep", "dogan", "Zeynep", "ceylan"]
isimler.sort()
isimler

['Zeynep', 'ali', 'ceylan', 'dogan', 'zeynep']

In [32]:
chr(97)

'a'

In [33]:
ord("a")

97

In [34]:
ord("z")

122

In [36]:
ord("Z")

90

In [4]:
sehirler = ["Bursa", "Istanbul", "Ankara"]
sehirler

['Bursa', 'Istanbul', 'Ankara']

In [ ]:
istanbul_index = sehirler.index("Istanbul")

del sehirler[istanbul_index]

In [8]:
sehirler

['Bursa', 'Ankara']

In [10]:
# slicing / dilimleme
metin = 'hardworking'
print(metin[6:2])
print('hello')

print(metin[5])

hello
o

In [12]:
# range

range(1,11)

range(1, 11)

In [14]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
list(range(0,51,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [16]:
# 0 dan 10 a kadar sayılardan oluşan bir liste

numbers = list(range(11))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
odd_numbers = list(range(1,10,2))
odd_numbers

[1, 3, 5, 7, 9]

In [20]:
numbers = list(range(11))

odd_numbers = numbers[1::2]
odd_numbers

[1, 3, 5, 7, 9]

In [21]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]

city[:] # listenin aynısını bastırır

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [22]:
city[2:]

['Istanbul', 'Seoul', 'Sydney']

In [23]:
city[:2]

['New York', 'London']

In [24]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
numbers[::2]

[0, 2, 4, 6, 8, 10]

In [27]:
mix_list = [1, [1, "one", 2, "two", 3, "three"], 4]

mix_list[1][1::2]

['one', 'two', 'three']

In [28]:
city

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [29]:
city[-4]

'London'

In [30]:
city[-3:]

['Istanbul', 'Seoul', 'Sydney']

In [31]:
city[:-3]

['New York', 'London']

In [32]:
city[::-1]

['Sydney', 'Seoul', 'Istanbul', 'London', 'New York']

In [34]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

print(letters[7:3:-1])
print(letters[2:6:-1])

['h', 'g', 'f', 'e']
[]

In [36]:
listem = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], [1, 2, 3], ["Ankara", "Istanbul"], [3, "Lyon", "Paris", ["Bety", ["Jack"]]]]

listem

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'],
 [1, 2, 3],
 ['Ankara', 'Istanbul'],
 [3, 'Lyon', 'Paris', ['Bety', ['Jack']]]]

In [37]:
listem[3][3][1]

['Jack']

In [38]:
listem[2][0][2]

'k'

In [39]:
# () tuple
# tuple()

my_tuple = () # içi boş tuple

type(my_tuple)

tuple

In [42]:
text = "happy"

my_list = list(text)

my_list

['h', 'a', 'p', 'p', 'y']

In [43]:
text = "happy"

my_tuple = tuple(text)

my_tuple

('h', 'a', 'p', 'p', 'y')

In [46]:
my_tuple_2 = (text) # tuple olmaz, parantez olarak algılar
print(my_tuple_2)
print(type(my_tuple_2))

happy
<class 'str'>

In [48]:
# tek elemanlı tuple tanımlamak için:

my_tuple_3 = (2,) # tek elemanlı tuple tanımlama yöntemi

print(my_tuple_3)
print(type(my_tuple_3))

(2,)
<class 'tuple'>

In [50]:
numbers = 1, 2, 3

print(numbers)
print(type(numbers))

(1, 2, 3)
<class 'tuple'>

In [51]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [52]:
# index(), count() 

sayilar = (1, 2, 3, 3, 4, 5, 1, 2, 3)

sayilar.count(3)

3

In [53]:
sayilar.count(5)

1

In [54]:
sayilar.index(3) # ilk index i getirir

2

In [55]:
sayilar.index(5)

5

In [58]:
t = (1, "a", "b", 3.14, ["martin", "davis"])

type(t)

tuple

In [59]:
t[4]

['martin', 'davis']

In [60]:
type(t[4])

list

In [61]:
t[4][0] = "Joseph"  # normalde tuple değiştirilemez ancak tuple içindeki listede değişiklik yapılabilir!
print(t)

(1, 'a', 'b', 3.14, ['Joseph', 'davis'])