In [1]:
print("I love you")
print()
print("me too", 2024)

I love you

me too 2024

In [2]:
float(12)

12.0

In [3]:
int(2.4)

2

In [4]:
str(12)

'12'

In [5]:
dict(a=1, b=2)

{'a': 1, 'b': 2}

In [6]:
bool(1)

True

In [7]:
bool(0)

False

In [8]:
my_list = [1, 11, 22, 35, 2, 3]

tuple(my_list)

(1, 11, 22, 35, 2, 3)

In [9]:
# filter()

def cift_sayi(a):
    return a % 2 == 0

numbers = list(range(1,21))

list(filter(cift_sayi, numbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
listem = [True, 0, 1, 2, False, 'Hello', 'True']

list(filter(None, listem))

[True, 1, 2, 'Hello', 'True']

In [11]:
# map()

def kareal(a):
    return a ** 2

numbers = list(range(1,11))

print(list(map(kareal, numbers)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# enumerate()

grocery = ['bread', 'water', 'olive']

enum_grocery = list(enumerate(grocery))

enum_grocery

[(0, 'bread'), (1, 'water'), (2, 'olive')]

In [13]:
grocery = ['bread', 'water', 'olive']

enum_grocery = list(enumerate(grocery, 101))

enum_grocery

[(101, 'bread'), (102, 'water'), (103, 'olive')]

In [14]:
max(100,200)

200

In [15]:
listem = [11, 2, 3, 5, 19, 25, 200, 195, 201, 1002, 5000]

max(listem) # en büyük sayıyı return eder

5000

In [16]:
min(listem) # en küçük sayıyı return eder

2

In [17]:
sum(listem) # toplama yapar

6663

In [22]:
sum(listem, 100) # toplama işlemine 100 den başlar. Yani 100 ekleyerek toplama işlemini gerçekleştirir

6763

In [18]:
pow(2, 3) #kuvvetini alır

8

In [19]:
import math  #gömülü fonksiyon olmadığı için import ediyoruz

math.sqrt(9)

3.0

In [20]:
pow(9, 0.5)

3.0

In [21]:
eval("2+3") #  güvenlik açığı oluşturabileceğinden kullanılması tavsiye edilmez

5

In [23]:
def topla(a, b):

    print(a + b)

topla(2, 3)

5

In [25]:
def first_function(a,b):
    print(a**2 + b**2)

first_function(2,3)

13