In [1]:
print("I love you")
print()
print("me too", 2024)

I love you

me too 2024

In [2]:
float(12)

12.0

In [3]:
int(2.4)

2

In [4]:
str(12)

'12'

In [5]:
dict(a=1, b=2)

{'a': 1, 'b': 2}

In [6]:
bool(1)

True

In [7]:
bool(0)

False

In [8]:
my_list = [1, 11, 22, 35, 2, 3]

tuple(my_list)

(1, 11, 22, 35, 2, 3)

In [9]:
# filter()

def cift_sayi(a):
    return a % 2 == 0

numbers = list(range(1,21))

list(filter(cift_sayi, numbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
listem = [True, 0, 1, 2, False, 'Hello', 'True']

list(filter(None, listem))

[True, 1, 2, 'Hello', 'True']

In [11]:
# map()

def kareal(a):
    return a ** 2

numbers = list(range(1,11))

print(list(map(kareal, numbers)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# enumerate()

grocery = ['bread', 'water', 'olive']

enum_grocery = list(enumerate(grocery))

enum_grocery

[(0, 'bread'), (1, 'water'), (2, 'olive')]

In [13]:
grocery = ['bread', 'water', 'olive']

enum_grocery = list(enumerate(grocery, 101))

enum_grocery

[(101, 'bread'), (102, 'water'), (103, 'olive')]

In [14]:
max(100,200)

200

In [15]:
listem = [11, 2, 3, 5, 19, 25, 200, 195, 201, 1002, 5000]

max(listem) # en büyük sayıyı return eder

5000

In [16]:
min(listem) # en küçük sayıyı return eder

2

In [17]:
sum(listem) # toplama yapar

6663

In [22]:
sum(listem, 100) # toplama işlemine 100 den başlar. Yani 100 ekleyerek toplama işlemini gerçekleştirir

6763

In [18]:
pow(2, 3) #kuvvetini alır

8

In [19]:
import math  #gömülü fonksiyon olmadığı için import ediyoruz

math.sqrt(9)

3.0

In [20]:
pow(9, 0.5)

3.0

In [21]:
eval("2+3") #  güvenlik açığı oluşturabileceğinden kullanılması tavsiye edilmez

5

In [23]:
def topla(a, b):

    print(a + b)

topla(2, 3)

5

In [25]:
def first_function(a,b):
    print(a**2 + b**2)

first_function(2,3)

13

In [1]:
def add(a,b):
    print(a + b)

In [2]:
add(-3,5)

2

In [10]:
def calculator(num1, num2, op ):
    '''
    bu basit bir hesaplama fonksiyonudur
    '''
    if op == '+':
        print(num1 + num2)
    elif op == '-':
        print(num1 - num2)
    elif op == '/':
        print(num1 / num2)
    elif op == '*':
        print(num1 * num2)
    else:
        print('enter valid arguments')

In [6]:
calculator(5, 6, "*")

30

In [8]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [11]:
print(calculator.__doc__) #kullanım klavuzu gibi

    bu basit bir hesaplama fonksiyonudur

In [18]:
def add(a,b):
    print(a + b)

In [19]:
add(3,5) + 2

8

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [14]:
def add(a,b):
    return a + b

In [15]:
add(5,3) + 2

10

In [16]:
type(add(5,3)) #bir int değer return ettiğini anlarız

int

In [17]:
print(add(5,3)) # none return eder.sadece gösterir, elimizde bir değer olmaz ve başka yerde kullanamayız

8

In [23]:
def absoloute_value(x):
    if x < 0:
        return -x
    else:
        return x

In [25]:
absoloute_value(-5)

5

In [26]:
def who(first_name, last_name):
    print(f"your first name is {first_name}")
    print(f"your last name is {last_name}")

In [28]:
who("merve", "oncu")

your first name is merve
your last name is oncu

In [29]:

def texter(a, b, c):
    print(a, b, c)

In [30]:
a = "I"
b = "love"
c = "you"

texter(a, b, c)

I love you

In [ ]:
# !!! positionals arguments her zaman keyword argumentten önce yazılır

In [ ]:
def record(a):
    pass   #fonksiyonu daha sonra tanımlamak istediğimiz durumlarda hata almamak için kullanırız.

In [1]:
a, *b = 1, 2, 3
print(a)
print(b)

1
[2, 3]

In [2]:
*a, b = 1, 2, 3
print(a)
print(b)

[1, 2]
3

In [3]:
def topla(*num):
    toplam = 0
    for i in num:
        toplam += i
    return toplam

In [5]:
topla(2,3,4)

9

In [6]:
def topla(*args):
    toplam = 0
    for i in args:
        toplam += i
    return toplam

In [7]:
topla(5,8,6,4)

23

In [19]:


def slicer(*args):
    evens = []
    odds = []
    for i in args:
        if i % 2 == 0:
            evens.append(i)
        else:
            odds.append(i)
    print(f"Evens list: {evens}")    
    print(f"Odds list: {odds}")

In [20]:
slicer(1, 2, 3, 4, 5, 6, 7, 8, 9)

Evens list: [2, 4, 6, 8]
Odds list: [1, 3, 5, 7, 9]

In [22]:
print(max.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

In [23]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [24]:
def organizer(**kwargs):
    names = []
    ages = []
    for key, value in kwargs.items():
        names.append(key)
        ages.append(value)
    print(names, ages, sep='\n')

In [25]:
organizer(Ali = 20, Veli = 22, Zeynep = 30)

['Ali', 'Veli', 'Zeynep']
[20, 22, 30]

In [26]:
my_dict = dict(Ali = 20, Veli = 22, Zeynep = 30)

my_dict

{'Ali': 20, 'Veli': 22, 'Zeynep': 30}

In [27]:
organizer(**my_dict)

['Ali', 'Veli', 'Zeynep']
[20, 22, 30]

In [1]:
def topla(*args):
    return sum(args)

In [2]:
topla(1, 2, 3)

6

In [4]:
numbers = list(range(1,11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
topla(*numbers)

55